[Desktop Entry]
Type=Application
Name=OpenPOS
Comment=Local-first GTD task manager
Exec=openpos
Icon=tech.indyzai.openpos
Terminal=false
Categories=Office;
Keywords=Tasks;Todo;GTD;Productivity;
StartupNotify=true
StartupWMClass=OpenPOS
Actions=QuickAdd;

[Desktop Action QuickAdd]
Name=Quick Add
Exec=openpos --quick-add
