# Maintainer: dongdongbh <dongdongbhbh@gmail.com>
pkgname=openpos-bin-beta
pkgver=__PKGVER__
epoch=1
pkgrel=1
pkgdesc="OpenPOS beta binary release (legacy name; migrate manually to openpos-beta-bin)"
arch=('x86_64')
url="https://github.com/dongdongbh/OpenPOS"
license=('AGPL3')
depends=('webkit2gtk-4.1' 'gtk3' 'libappindicator-gtk3')
optdepends=('evolution-data-server: GNOME system calendar integration')
provides=('openpos' 'openpos-bin' 'openpos-beta-bin')
conflicts=('openpos' 'openpos-bin' 'openpos-beta-bin')
_release_tag=__RELEASE_TAG__
_asset_version=__ASSET_VERSION__
source_x86_64=("${url}/releases/download/${_release_tag}/openpos_${_asset_version}_amd64.deb")
sha256sums_x86_64=('__SHA256__')

package() {
    tar -xf data.tar.zst -C "${pkgdir}" || tar -xf data.tar.gz -C "${pkgdir}"
}
